* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.btn-primary {
    color: #005FAC;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 18px 36px;
    height: 64px;
    border-radius: 5px;
    background: #FFFFFF;
    cursor: pointer;
}

/* header css */
.header {
    display: flex;
    background-image: url('../images/banner/banner3.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.empty {
    width: 60%;
}

.header-content {
    text-align: right;
    width: 60%;
    margin-right: 200px;
    padding: 150px 0;
}

.header-title {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 65px;
}

.header-description {
    color: #FFFFFF;
    line-height: 26px;
    margin: 30px 0;
}

/* main css */
main {
    margin: 0 200px;
}

/* my-failures section css */
.my-failures {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 70px;
    margin: 100px 0;
}

.my-failures-heading {
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 24px;
    color: #151414;
}

.my-failures-description {
    color: #444343;
    line-height: 26px;
    margin-bottom: 20px;
}

.my-failures-content ul li {
    color: #444343;
    margin-bottom: 10px;
}

/* my-plans section css */
.my-plans h3 {
    text-align: center;
    font-weight: 700;
    font-size: 40px;
}

.plans-container {
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
}

.plan {
    padding: 30px;
}

.plan-title {
    font-weight: 700;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.plan-description {
    color: #757575;
    font-weight: 500;
}

/* call-now section css */
.call-now {
    background-image: url('../images/watch.png'), url('../images/gradient1.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 100px 0;
    padding: 60px 65px;
}

.call-now h3 {
    font-weight: 700;
    font-size: 40px;
    color: #FFFFFF;
    padding-bottom: 30px;
    width: 460px;
}

/* footer css */
footer {
    background: #151414;
    padding: 130px 230px;
    display: flex;
    justify-content: space-between;
}

.footer-title {
    color: #F8F8F8;
    font-weight: 700;
    font-size: 45px;
}

.footer-left p {
    color: #FFFFFF;
    margin: 20px 0;
}

.footer-left a {
    margin-right: 20px;
    text-decoration: none;
}

.subscribe h3 {
    color: #FFFFFF;
    font-size: 25px;
}

.subscribe input[type="text"] {
    margin: 24px 0;
    border: 1px solid #FFFFFF;
    background: #151414;
    color: #FFFFFF;
    width: 100%;
    padding: 18px 30px;
}

.footer-left {
    width: 485px;
}

.btn-subscribe {
    color: #FFFFFF;
    background-color: #005FAC;
}